@{
  Layout = "_Layout";
}

@using PierresTreats.Models
@model PierresTreats.Models.Flavor

<hr>
<h2><em>@Html.DisplayFor(model => model.FlavorName)</em> Details:</h2>

@if(@Model.JoinEntities.Count == 0)
{
  <p><em>This flavor does not belong to any treats</em></p>
}
else
{
  <h4>Treats that are @Html.DisplayFor(model => model.FlavorName)</h4>
  <ul>
  @foreach(TreatFlavor join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatName</li>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<hr>
<p>@Html.ActionLink("- Add a Treat -", "AddTreat", "Flavors", new { id = Model.FlavorId }) </p>
<p>@Html.ActionLink("- Edit Flavor -", "Edit", new { id = Model.FlavorId }) </p>
<p>@Html.ActionLink("- Delete Flavor -", "Delete", new { id = Model.FlavorId }) </p>
<p>@Html.ActionLink("- Back to Flavor List -", "Index")</p>