@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<hr>
<h2>Edit <em>@Html.DisplayFor(model => model.FlavorName)</em></h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName, "Flavor Name")
    @Html.EditorFor(model => model.FlavorName)

    <input type="submit" value="Save" />
}
<hr>
<p>@Html.ActionLink("- Back to Flavor List -", "Index")</p>